<div class="widget {{class}}-position image-widget">
    {{{widget-title "Featured Images" titletag=titletag}}}
    <p class="max-w-prose mb-2">All posts and some pages have featured images. Each image is curated from a stock photo site, cropped to the right proportions 
        (3:1 for posts and 6:1 for pages) and transformed in a unified way, using Analog Efex Pro 2 from <a href="https://archive.org/details/nikcollection-full-1.2.11" target="_blank" rel="noopener noreferrer">Nik Collection 2012</a>. While I have a
        specific set of rules added, a key thing is to ensure each image has the right amount of darks and lights for my theme.</p>
    <ul>
    {{#each @root.images}}
        <li class="list-disc list-inside">Photo on {{page.type}} <a href="{{page.link}}">{{page.title}}</a> is from photographer <a href="{{source}}">{{creator}}</a></li>
    {{/each}}
    </ul>
</div>