<ul class="post-list {{#if index}}blog-index{{else}}{{context}}-{{slugify title}}{{/if}}">
  {{#each posts }}
    <li class="max-w-prose mb-4 {{#unless @last}}pb-2 border-b-4 border-double border-slate-500 dark:border-slate-400{{/unless}}"><a href="/{{ path }}">
      <h3>{{ title }}</h3>
      <img src="/assets/images/featured-images/{{slugify title}}/767.jpg" alt="{{ image.description }}" width="767" height="256">
      <span class="text-sm">Published {{formatDate pubdate }}</span>
      <p>{{{ abstract }}}</p>
    </a></li>
  {{/each }}
</ul>