<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <link
        rel="alternate"
        type="application/rss+xml"
        title="RSS 2.0"
        href="/feed.rss">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page-title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="{{ page-url }}">

        <meta property="og:title" content="{{ page-title }}">
        <meta name="twitter:title" content="{{ page-title }}">
        
        <meta property="og:description" content="{{ description }}{{abstract}}">
        <meta name="twitter:description" content="{{ description }}{{abstract}}">
        
        <meta property="og:image" content="{{ page-image }}">
        <meta name="twitter:image" content="{{ page-image }}">

        {{{ favicons }}}

        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=cormorant:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.bunny.net/css?family=montserrat:300,300i,500,500i" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css">
        
        {{#each stylesheets}}
            <link rel="stylesheet" href="/assets/css/{{this}}.css">
        {{/each}}
    </head>
