{{> head }}

<body class="{{classify bodyClasses }}">

 {{> navigation }}

<main>
    <h1>Melindrea <small class="font-smallcaps text-xl text-slate-500 dark:text-slate-400 font-normal"> aka: Marie Hogebrandt, Antonius M., Antonius Marie</small></h1>

<div class="flex flex-wrap">
    <div class="md:mr-6">
        <img class="mr-3 mb-3 max-w-xs rounded-3xl shadow-lg md:float-left" width="1000" height="1000" src="/assets/images/selfie-2022.jpg" alt="Portrait of me with my hair in a side braid. The portrait is in a vintage style">

        <p class="first-line:font-smallcaps first-line:font-medium first-letter:font-serif
  first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left max-w-prose mb-2">I am an artist and developer who lives 
  with chronic pain together with my spouse and our wonderful cat. I am online a lot, though a lot of times I will more lurk 
  than talk because it takes energy that I don't always have.</p>

        <p class="max-w-prose mb-2">Another important detail about me is that I'm queer. I'm non-binary (and while I don't object to 
            she/her or he/him I tend to prefer they/them), and while I identified as bi for most of my adult life I've realised that I'm 
            ace and maybe aro. Thankfully my wonderful co-sinner is too, so we're happy in a more platonic love relationship.</p>

        <p class="max-w-prose mb-2">My creative adventures are quite mixed, with everything from water colour painting to digital 
            painting to photo manipulation. In the last category I love to make images that look magical and vintage, with tiny fairies 
            in close-ups being one of my favourite compositions.</p>

        <p class="max-w-prose mb-2">The biggest update to give from when I originally made this page: I have an explanation for why I'm 
            such an "inspirational butterfly", why peopling tires me, why changing plans makes me uncomfortable, why I have trouble doing 
            stuff (phonecalls, paper work, talking to someone ...) when I don't know what to expect, why ... Well, you get the picture. It might
            even explain parts of my pain (my doctor thinks so): I'm autistic. And I was working myself into an early grave trying to do things
            I assume everyone else was also struggling with (not all are), so that I couldn't do them meant I was a failure (I'm not).</p>

        <p class="max-w-prose mb-2">This page has a fairly comprehensive list of my various links, where I'll draw your attention a bit 
            extra to my <a href="https://melindrea.redbubble.com">POD shop at Redbubble</a>, my main <a href="https://beige.party/@melindrea">Mastodon profile</a> 
            (though you can find me interacting with the good folks at mastodon.art quite a lot) and my page at <a href="https://ko-fi.com/melindrea">Ko-fi</a>. 
            There I have a tipjar for if you want to support me once or twice, a monthly subscriber model with a special deal for my 100 first 
            subscribers (do you want to be my first? <a href="https://ko-fi.com/melindrea/tiers">Only $3/month!</a>), and a 
            <a href="https://ko-fi.com/melindrea/shop">shop where I sell</a> handmade stickers, print-it-yourself monthly prompt journals and 
            other goodies. </p>

    </div>
    <div>
        <h2>Presence</h2>

        <ul class="list-disc list-inside px-4">
            <li><a href="https://ko-fi.com/melindrea/shop">Shop on Ko-fi</a></li>
            {{#each presence}}
                <li><a rel="me" href="{{ url }}">{{ site }}: {{ nickname }}</a></li>
            {{/each}}
        </ul>

        <h3>Mastodon</h3>

        <ul class="list-disc list-inside px-4">
            {{#each mastodon}}
                <li><a rel="me" href="{{ url }}">{{ nickname }}{{#if primary}} (primary){{/if}}</a></li>
            {{/each}}
        </ul>
    </div>

</div>

<h2>Works</h2>
<div class="flex">
    <div class="redbubble-container"><script src="https://www.redbubble.com/assets/external_portfolio.js"></script>
    <script id="rb-xzfcxvzx">new RBExternalPortfolio('www.redbubble.com', 'melindrea', 2, 2).renderIframe();</script>
    </div>

    <div class="kofi-container"><iframe id='kofiframe' src='https://ko-fi.com/melindrea/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='melindrea'></iframe>
    </div>
</div>

</main>

{{> footer }}

    </body>
</html>
