{{> head }}

<body>

 {{> navigation }}

<main class="md:container md:mx-auto md:px-8">

<h1>{{ title }}</h1> {{!-- news collection metadata.title --}}
<p class="max-w-prose mb-2">{{ description }}</p> {{!-- news collection metadata.description --}}

<hr>

{{#if collections.updates.length }}
  <ul>
  {{#each collections.updates}}
    <li class="max-w-prose mb-2 border-b-2 border-double border-slate-500 dark:border-slate-400">
      <h3>{{ title }} <small class="text-lg text-slate-500 dark:text-slate-400 font-normal">({{formatDate pubdate }})</small></h3>
      {{{ contents }}}
    </li>
  {{/each}}
  </ul>
    {{else}}
    <p class="max-w-prose mb-2">No updates at the moment...</p>
{{/if}}

</main>

{{> footer }}

</div><!-- /paper-window -->
</div><!-- /paper-front -->
    </body>
</html>
